* {
    user-select: none;
}

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

.container {
    position: fixed;
    height: auto;
    width: 90vw;
    max-width: 550px;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    box-shadow: 0 0 5px black;
}

.choice {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(170, 170, 185);
}

.sign-in, .sign-up {
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-body-part, .sign-up-body-part {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.info {
    position: relative;
    margin: 15px;
    outline: none;
    height: 50px;
    width: 60%;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 3px;
    padding-left: 15px;
    font-size: 120%;
}

.forgot-password {
    position: relative;
    margin: 15px;
    right: 0;
}

.sign-in-button {
    position: relative;
    background-color: rgb(33, 178, 93);
    height: 40px;
    width: calc(60% + 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 10px;
    color: white;
}

.go-back {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back, .back:active, .back:visited {
    text-decoration: none;
    color: black;
}

.show {
    background-color: white;
    text-decoration: underline;
}

.hide {
    display: none;
}